{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div style="background-color: #dee2e6">
    <br>
    <h5 class="text-white" align='right'><a href="/ "><br><i class="fa fa-home"> Home</i></a></h5>
    <br>
<div class="row " style="font-family: Comic Sans MS; ">
    <h1 class="text-center text-dark bg-white"> New Create Customer </h1>
    <br>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

    <form method="post" class="form form-control">
    {% csrf_token %}
    {{ form.as_table }}<br>
    <div align="right">
        <input type="submit" value="Save" class="btn btn-success">
        <input type="reset" value="Reset" class="btn btn-warning">
        <a onclick="history.back();" class="btn btn-danger">
        <i class="fas fa-backward"></i> Cancel
        </a>
    </div>

    </form>

    <div class="col-lg-3"></div>
        <br><br><br>
</div>

</div>
 </div>


{% endblock %}