{%  extends 'base.html' %}
{% block content %}
    {% load static %}
    {% load humanize %}
<div style="background-color: #dee2e6">
    <br>
    <h5 class="text-white" align='right'><a href="/ "><br><i class="fa fa-home"> Home</i></a></h5>
    <br>
<div class="row  text-center" style="font-family: Comic Sans MS; ">
    <h1 class="text-center text-dark bg-white"> Show One Customer </h1>
    <br>
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
    <table class="table table-success table-striped " style="font-size: 20px"><br>
        <tr><td align="left">ID : </td><td  align="left">{{customer.cid}}</td></tr>
        <tr><td align="left">Name : </td><td align="left">{{customer.name}}</td></tr>
        <tr><td align="left">Surname : </td><td align="left">{{customer.surname}}</td></tr>
        <tr><td align="left">Address : </td><td align="left">{{customer.address}}</td></tr>
        <tr><td align="left">Telaphone : </td><td align="left">{{customer.telephone}}</td></tr>
        <tr><td align="left">Gender : </td><td align="left">{{customer.gender}}</td></tr>
        <tr><td align="left">Carreer : </td><td align="left">{{customer.carreer}}</td></tr>
    </table>
        <p><strong>Tip:</strong> Gender >> True is Female & False is Male </p>
        <a onclick="history.back();" class="btn btn-warning">
        <i class="fas fa-backward"></i> Back
        </a>

    <div class="col-lg-3"></div>
        <br>
</div>

</div>
 </div>
{% endblock %}