<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet"
          href={% static 'stylesheet/bt523/css/bootstrap.css' %}>
    <link type="text/css" rel="stylesheet" href="{% static 'fontawesome5/css/all.css' %}">
    <script src='{% static 'stylesheet/bt523/js/bootstrap.js' %}'></script>
    <meta charset="UTF-8">
    <title>Angel School</title>
    <style >
        .bg{
            background-color: ivory;
        }
        .font{
            font-family: "helvetica";
            text-align: center;
            {#font-size: 20px;#}

        }
    </style>
</head>

<body>
<div class="container-fluid ">
    <div class="row">

        <div class="col-lg-12 " >
            {% include 'header.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 ">
            {% include 'menu.html' %}
        </div>
    </div>

    <div class="col-lg-12 " >

        {% block content %}
        {% endblock %}
    </div>

</div>
</body>
</html>