{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class=" text-dark " style="background-color: #b6d4fe">

<br>
        <h5 align="right"><a href="/ "><i class="fa fa-home"> Home </i></a></h5>
<br>
        <div class="row">
        <h2 class="text-center display-3" style="background-color: lightyellow"  >&#127979;<b><u> ประวัติการศึกษา </u></b>&#127979;</h2>
<br><br>
        </div>
        <img src="{% static "images/edu.png" %}" width="700" height="1000"class="mx-auto d-block img-fluid" >
<br>


    </div>
</div>
{% endblock %}