{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class=" text-dark " style="background-color: wheat">

        <div class="row">
        <h1 class="text-center display-3" style="background-color: pink" >&#128525; <b>Welcome to Angel School</b> &#128525;</h1>
        <p class=" text-dark text-center " style="background-color: lightgoldenrodyellow">
            <marquee direction="left">โรงเรียนที่เป็นมากกว่าโรงเรียน !!
             เรามุ่งเน้นสร้างสรรค์ ให้นักเรียน สวย เก่ง ดี มีความรู้รอบตัว และมีเงินใช้<br>
            </marquee>
        </p>
        </div>
<br>
        <h1 class="text-center" ><b>ประชาสัมพันธ์</b></h1>
        <img src="{% static "images/166.png" %}" width="1000" height="700"class="mx-auto d-block img-fluid" >
        <br><br><br>

    </div>
</div>
{% endblock %}