{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row" font style="font-family: Comic Sans MS";>
    <div class=" text-dark "
         style="background-image: url({% static "images/wall12.jpg" %});
                background-repeat: no-repeat;
		        background-attachment: fixed;
		        background-size: cover;">
<br><br>
        <div class="row">

        <h1 class="text-center display-3"  > <b>Public Relations</b> &#128226;</h1>
        <p class=" text-dark text-center " >
            <marquee direction="left">ยินดีต้อนรับ เข้าสู่ Angel School โรงเรียนที่เป็นมากกว่าโรงเรียน !!
             เรามุ่งเน้นสร้างสรรค์ ให้นักเรียน สวย เก่ง ดี มีความรู้รอบตัว และมีเงินใช้<br>
            </marquee>
        </p>
        </div>

<br>
        <div class="text-center">
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
        <div class="spinner-border text-dark"></div>
        <div class="spinner-border text-light"></div>
<br><br>
        <img src="{% static "images/166.png" %}" width="1000" height="700"class="mx-auto d-block img-fluid" class="rounded" >
        <br>

        </div>
        <br><br><br>

    </div>
{#        <div align="center">#}
{#            <font style="font-family: Comic Sans MS";>Waaaaaa</font>#}
{#        </div>#}
</div>
{% endblock %}