{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row"style="background-image: url({% static "images/wall12.jpg" %});
                background-repeat: no-repeat;
		        background-attachment: fixed;
		        background-size: cover;">>>
<div class=" text-white " font style="font-family: Comic Sans MS";

<br>
    <h5 align="right"><a href="/ "><i class="fa fa-home"> Home</i></a> </h5>
<br>
    <div class="row">
    <h2 class="text-center display-3" style="background-color: darkred"  >&#129419;<b><u>บุคคลต้นแบบ</u></b>&#129419;</h2><br>
    <h3 class="text-center "><b>โอปอล์-ปาณิสรา อารยะสกุล</b></h3>
<br>
    </div>
    <img src="{% static "images/opal.jpg" %}" width="170" height="195"class="mx-auto d-block img-thumbnail img-fluid" >
{#     <video src="{% static "images/opaltalk.mp4" %}" width="170" height="195" >#}
<br>

    <div class="row " >
        <div class="col" >
            <video src="{% static "images/opaltalk.mp4" %}" width="170" height="195" controls="controls"
                   class="mx-auto d-block img-thumbnail img-fluid"loop></video>

        </div>
        <div class="col bg-white text-bg-info">
<br>
            โอปอล์-ปาณิสรา อารยะสกุล อยู่ในวงการบันเทิงมาสิบกว่าปีในฐานะคนเบื้องหลัง
            นักแสดง ดีเจ. และพิธีกร ด้านชีวิตส่วนตัวโอปอล์สมรสกับนายแพทย์สมิทธิ์ อารยะสกุล
            หรือ “หมอโอ๊ค” ซึ่งในช่วงแรกที่เปิดตัวคบหากันก็เกิดกระแสวิพากษ์วิจารณ์มากมาย โดนบูลลี่
            ทั้งประเด็นของความไม่สวย ไม่เหมาะสม และคำครหาต่าง ๆ ที่รุมเร้าเข้าหาเธอไม่ขาดสาย<br>
            แต่ในที่สุดโอปอล์ และหมอโอ๊ค ทั้งคู่ก็ก้าวข้ามอุปสรรคเหล่านั้นมาได้ ด้วยความรักที่มั่นคง และจิตใจที่เข้มแข็ง
            กระทั่งปัจจุบันโอปอล์และหมอโอ๊คมีเจ้าตัวเล็กน่ารักน่าเอ็นดูอย่าง
            น้องอลิน-อรัญมาเติมเต็มให้ชีวิตครอบครัวสมบูรณ์แบบ<br><br>
            โอปอล์ทำธุรกิจเยอะมาก และดูแล บริหารธุรกิจด้วยตัวเองอีกด้วย มีบริษัทนางแมวป่า เป็นมีเดียเอเยนซี่
            ดูแล 4 รายการ เริ่มจาก Loukgolf”s EnglishRoom, รายการ Opal Law เฟิร์ม,
            รายการ Opal All Around และรายการ Dr.Smith ส่วนอีกพาร์ต คือ บริษัท โอ กาแฟ
            ดูแลร้านกาแฟ O”s Coffee แล้วก็ธุรกิจ Oab”s Soap เป็นสกินแคร์ โอปอล์ทำสิ่งเหล่านี้มาตลอดหลายปี
            ควบคู่กับการทำงานในวงการ พอมีลูกปอล์เบรกงานเบื้องหน้าเพื่อที่จะได้อยู่กับลูกตลอดเวลา และลุยธุรกิจเป็นหลัก
<br> <br>
        </div>
        <div class="col"></div>
    </div>
<br><br><br><br><br><br><br>


</div>
</div>
{% endblock %}