{#{% extends 'base.html' %}#}
{#{% load static %}#}
{#{% block content %}#}
{#    <h2> Practice 11 By Nattaporn Boonmala </h2>#}
{#     {% load humanize %}#}
{##}
{#    {% load static %}#}
{#    <div class="rounded m-3 bg-white" style="height: 100%; ">#}
{#    <div class="d-flex pt-3 bd-highlight">#}
{#            <div class="p-2 bg-danger flex-fill text-white">#}
{#             <h2> Practice 11</h2>#}
{#            </div>#}
{#        </div>#}
{#        <br>#}
{#    <div class="row">#}
{#        <div class="col-6 px-3">#}
{#          <b>#}
{#              <p>Product Type : {{ details }}</p>#}
{#              <p>Admin        : {{ name }}</p>#}
{#              <p>Date         : {{ date }}</p>#}
{#             <a class="btn btn-success" href="{% url 'inputPro11' %}">เพิ่มข้อมูล</a>#}
{#            </b>#}
{#        </div>#}
{##}
{#    </div>#}
{#        <div>#}
{#           <table class="table table-danger table-hover table-striped table-bordered">#}
{#        <tr>#}
{#            <th>Name</th>#}
{#            <th>Type</th>#}
{#            <th>Brand</th>#}
{#            <th>Price</th>#}
{#            <th>amount</th>#}
{#            <th>Delivery</th>#}
{#            <th>Price Deli</th>#}
{#            <th>Total</th>#}
{#            <th>Discount</th>#}
{#            <th>Net</th>#}
{#        </tr>#}
{#        {% for listproduct in lstProduct %}#}
{#        <tr>#}
{#        <td>{{ listproduct.getName }}</td>#}
{#            <td>{{ listproduct.getType }}</td>#}
{#            <td>{{ listproduct.getBrand }}</td>#}
{#            <td>{{ listproduct.getPrice|intcomma }}</td>#}
{#            <td>{{ listproduct.getAmount }}</td>#}
{#            <td>{{ listproduct.getDelivery}}</td>#}
{#            <td>{{ listproduct.getPriceDeli}}</td>#}
{#            <td>{{ listproduct.getTotal|floatformat}}</td>#}
{#            <td>{{ listproduct.getDiscount }}</td>#}
{#            <td>{{ listproduct.getNet|floatformat}} บาท</td>#}
{##}
{#        </tr>#}
{#               {% endfor %}#}
{#           </table>#}
{#        </div>#}
{#    </div>#}
{##}
{##}
{#{% endblock %}#}