{% load static %}
<br>

<ul class="nav nav-tabs" style="background-color: white" >

  <li class="nav-item">
    <a class="nav-link active" href="/ "><i class="fa fa-home"> HOME </i></a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" href="{% url 'info' %}"> ข้อมูลส่วนตัว </a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" href="{% url 'edu' %}"> ประวัติการศึกษา </a>
  </li>

  <li class="nav-item">
    <a class="nav-link active" href="{% url 'fav' %}"> สิ่งที่สนใจ </a>
  </li>

    <li class="nav-item">
    <a class="nav-link active" href="{% url 'prod' %}"> สินค้านำเสนอ </a>
  </li>

        <li class="nav-item">
    <a class="nav-link active" href="{% url 'idol' %}"> บุคคลต้นแบบ </a>
  </li>

        <li class="nav-item">
    <a class="nav-link active" href="{% url 'show' %}"> Show Data </a>
  </li>


  <li class="nav-item">
    <a class="nav-link disabled" href="/#"></a>
  </li>



</ul>

